@import "./variables.scss";

.history {
  color: $text-gold;
  padding: 10px 40px;
  height: calc(100vh - 120px);
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &_heading {
    font-size: 3rem;
    font-weight: 400;
    border-bottom: 1px solid $text-gold;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  &_img {
    float: left;
    height: 150px;
    padding-right: 20px;
  }

  p {
    padding: 10px 0;
    font-size: 1.6rem;
    text-align: justify;

    &:nth-of-type(2) img {
      float: right;
      padding-left: 20px;
      padding-right: 0;
    }

    a {
      text-decoration: underline;
    }
  }
}
