$text-dark: #333;
$text-light: #fff;
$text-gold: #caa464;

$bg-dark: #222;
$bg-light: #fff;
$bg-light-gold: #caa464;
$bg-dark-gold: #765234;
$bg-dark-hover: #666;
$bg-light-hover: rgba(255, 255, 255, 0.5);
